/* body main styles */

html, body{
    width: 100%;

    height: fit-content;
    margin: 0;
    padding: 0;
    position: relative;
    font-family: 'Outfit';

    overflow-x: hidden;
}

.tayo-mmr_main-block-stack{
    position: relative;
    width: 100%;
    height: max-content;
}

/* tayo-mmr the special class tag for melon music records web layout
the first and the last author of this layout is Ivan (Tayo) Kurbakov 
Made for presentation of my skills. For Melon Music Records 

template for u, Tayo <3

.tayo-mmr_ {
    
}

*/

/* styles for switcher lite/pro versions */

.tayo-mmr_switcherBlock{
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 50px;
    padding-left: calc(50vw + 100px);
    width: 100vw;
    height: 100vh;
}

.tayo-mmr_switcherButton{
    position: relative;
    width: 150px;
    height: 50px;
    border-radius: 40px;
    background-color: black;
    -webkit-filter: drop-shadow( 3px 3px 2px black);
    filter: drop-shadow( 3px 3px 2px black);
}

.tayo-mmr_switcherFigure{
    position: absolute;
    top:5px;
    left: 5px;
    width: 70px;
    height: 40px;
    border-radius: 45px;
    background-color: wheat;
}

.tayo-mmr_switcherLogoPro{
    position: absolute;
    top: -25px;
    left:82.5px;
    text-transform: uppercase;
    color: white;
    font-size: 30px;
}
/* my unique styles for the headline block */

.tayo-mmr_main-block-stack {
    position: relative;
    width: 100%;
    height: 100vh;
}
.tayo-mmr_head-block-jelly {
    position: relative;
    width: 100%;
    height: 567px;
    background-color: aliceblue;
    z-index: -2;
}
.tayo-mmr_headline1 {
    position: absolute;
    width: 500px;
    height: max-content;
    padding-top: var(--padding_top_headline1);
    padding-left: var(--padding_left_headline1);
}

.tayo-mmr_headline1_p-block1 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 70px;
    z-index: 1;
}

.tayo-mmr_floating-textBlock {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 250px;
    padding-top: 285px;
    padding-left: calc(20vw + 50px);
}

.tayo-mmr_headline1_p-block2 {
    text-transform: uppercase;
    font-weight: 200;
    font-size: 20px;
    rotate: 270deg;
    font-family: 'Montserrat';
}

.tayo-mmr_headline1-melon {
    position: absolute;
    top: 0;
    left: 0;
    width: 285px;
    padding-top: 137.5px;
    padding-left: calc(60vw + 150px);
    z-index: -1;
    -webkit-filter: drop-shadow( 3px 3px 2px #fccc9c);
    filter: drop-shadow( 3px 3px 2px #fccc9c);
    overflow: hidden;
}

/* non-realized photos of sexual guys from melon music lite */

/* .tayo-mmr_sexualGuysFromMMR{
    position: relative;
    top:-15vh;
    left: 15vw;
    width: 100%;
    height: 40vh;
    -webkit-filter: drop-shadow( 3px 3px 2px #fccc9c);
    filter: drop-shadow( 3px 3px 2px #fccc9c);
}

.tayo-mmr_sexualBratta-img{
    width: 500px;
}

.tayo-mmr_sexualBrutta-value{
    text-transform: uppercase;
    position: absolute;
    top: 150px;
    left: calc(2vw + 300px);
    font-size: 30px;
    font-weight: 500;
} */

.tayo-mmr_studioInfoBlock{
    font-family: 'Jost';
    width: 100%;
    height: 60vh;
    text-align: center;
    font-weight: 500;
    color: #4c2d13;
    background: url(../img/melon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: calc(10vw + 50px) calc(-30vh);
    background-clip: border-box;
}

.tayo-mmr_infoStack_comp{
    position: relative;
}

.tayo-mmr_infoStage{
    position: absolute;
    font-size: 40px;
    top:0;
    padding: 5px;
    border-radius: 15px;
    -webkit-filter: drop-shadow( 3px 3px 2px #ffd5d5);
    filter: drop-shadow( 3px 3px 2px #ffe4e4);
    background-color: rgb(249, 252, 255);
    display: inline-block;
}

.tayo-mmr_infoStage.el1 {
    top: 40px;
    left: 500px;
    animation: animate__backInLeft;
    animation-duration: 2s;
    animation:tracking-in-expand 0.6s linear both;
}
.tayo-mmr_infoStage.el2 {
    top: 100px;
    right: 500px;
    animation:tracking-in-expand 0.7s linear both;
}
.tayo-mmr_infoStage.el3 {
    top: 160px;
    left: 500px;
    animation:tracking-in-expand 0.8s linear both;
}
.tayo-mmr_infoStage.el4 {
    top: 220px;
    right: 500px;
    animation:tracking-in-expand 0.9s linear both;
}

.tayo-mmr_footer{
    position: absolute;
    background-color: black;
    color: white;
    width: 100%;
    height: 40px;
    text-align: end;
    padding-top: 15px;
    padding-bottom: 0;
    font-size: 20px;
    text-decoration: underline;
}