@media screen and (max-width:1900px) {




    .tayo-mmr_infoStage.el1 {
        top: 50px;
        left: 400px;
    }
    .tayo-mmr_infoStage.el2 {
        top: 120px;
        right: 400px;
    }
    .tayo-mmr_infoStage.el3 {
        top: 190px;
        left: 400px;
    }
    .tayo-mmr_infoStage.el4 {
        top: 260px;
        right: 400px;
    }

}

@media screen and (max-width:1400px) {  
    .tayo-mmr_infoStage.el1 {
        top: 20px;
        left: 300px;
    }
    .tayo-mmr_infoStage.el2 {
        top: 100px;
        right: 300px;
    }
    .tayo-mmr_infoStage.el3 {
        top: 180px;
        left: 300px;
    }
    .tayo-mmr_infoStage.el4 {
        top: 260px;
        right: 300px;
    }

    .tayo-mmr_studioInfoBlock{
        background-position: 15vw -15vh;
    }

    .stroke_borderleft.zvukWorkers{
        top: 100px; 
        left: 200px;
    }

    .tayo-mmr_zvukWorkersAreVerySexy{
        top: 100px; 
        left: 220px;
    }

}

@media screen and (max-width:1200px) {
    .tayo-mmr_switcherBlock{
        padding-top: 50px;
        padding-left: 80vw;
    }
    .tayo-mmr_switcherButton{
        position: relative;
        width: 130px;
        height: 40px;
        border-radius: 40px;
    }
    
    .tayo-mmr_switcherFigure{
        top:3.5px;
        left: 5px;
        width: 60px;
        height: 35px;
    }
    
    .tayo-mmr_switcherLogoPro{
        top: -20px;
        left:70.5px;
        font-size: 25px;
    }

    .tayo-mmr_headline1 {
        padding-top: var(250px);
        padding-left: calc(2vw + 100px);
    }

    .tayo-mmr_headline1_p-block1 {
        text-transform: uppercase;
        font-weight: 900;
        font-size: 60px;
    }

    .tayo-mmr_floating-textBlock {
        width: 250px;
        padding-top: 130px;
        padding-left: calc(2vw + 100px);
    }

    .tayo-mmr_headline1_p-block2 {
        text-transform: uppercase;
        font-weight: 200;
        font-size: 15px;
        rotate: 0deg;
        font-family: 'Montserrat';
    }

    .tayo-mmr_headline1-melon {
        width: 150px;
        padding-top: 5px;
        padding-left: 5px;
    }


    .tayo-mmr_infoStage{
        width: 500px;
        font-size: 33.5px;
    }
    .tayo-mmr_infoStack_comp{
        opacity: 0;
        width: 0;
        height: 0;
    }   



    .tayo-mmr_studioInfoBlock{
        background-position: 10vw -5vh;
    }

    .tayo-mmr_rec-round{
        top: 240px;
        left: calc(2vw + 400px);
    }
    .tayo-mmr_info_visionOfAll{
        padding: 20px;
    }

    .stroke_borderleft.zvukWorkers{
        top: 100px; 
        left: 100px;
        height: 80px;
    }

    .tayo-mmr_zvukWorkersAreVerySexy{
        font-size: 18px;
        top: 95px; 
        left: 120px;
    }
}

@media screen and (max-width:920px) {
    .tayo-mmr_switcherBlock{
        padding-top: 50px;
        padding-left: calc(70vw + 100px);
    }
    .tayo-mmr_switcherButton{
        position: relative;
        width: 130px;
        height: 40px;
        border-radius: 40px;
    }
    
    .tayo-mmr_switcherFigure{
        top:3.5px;
        left: 5px;
        width: 60px;
        height: 35px;
    }
    
    .tayo-mmr_switcherLogoPro{
        top: -20px;
        left:70.5px;
        font-size: 25px;
    }


    .tayo-mmr_head-block-jelly {
        width: 100%;
        height: 400px;
    }

    .tayo-mmr_headline1 {
        padding-top: var(--padding_top_headline1);
        padding-left: calc(2vw + 100px);
    }

    .tayo-mmr_headline1_p-block1 {
        text-transform: uppercase;
        font-weight: 900;
        font-size: 60px;
    }

    .tayo-mmr_floating-textBlock {
        width: 250px;
        padding-top: 130px;
        padding-left: calc(2vw + 100px);
    }

    .tayo-mmr_headline1_p-block2 {
        text-transform: uppercase;
        font-weight: 200;
        font-size: 15px;
        rotate: 0deg;
        font-family: 'Montserrat';
    }

    .tayo-mmr_headline1-melon {
        width: 150px;
        padding-top: 5px;
        padding-left: 5px;
    }


    .tayo-mmr_infoStage{
        width: 500px;
        height: 50px;
        font-size: 30px;
        margin-top: 15px;
    }
    .tayo-mmr_infoStack_comp{
        left: calc(50vw - 250px);
        padding-top: 5px;
    }   

    @media screen and (max-height: 500px){
        .tayo-mmr_head-block-jelly {
            height: 100vh;
        } 
        .tayo-mmr_studioInfoBlock{
            height: 100vh;
        }
    }
    
}

@media screen and (max-width:825px) {
    .tayo-mmr_switcherBlock{
        padding-top: 50px;
        padding-left: calc(65vw + 50px);
    }
}

@media screen and (max-width:635px) {
    .tayo-mmr_switcherBlock{
        padding-top: 50px;
        padding-left: 70vw;
    }

    .tayo-mmr_headline1 {
        padding-top: 120px;
        padding-left: 10vw;
        width:400px;
    }


    .tayo-mmr_head-block-jelly {
        width: 100%;
        height: 50vh;
    }

    .tayo-mmr_headline1_p-block1 {
        text-transform: uppercase;
        font-weight: 900;
        font-size: 50px;
    }

    .tayo-mmr_floating-textBlock {
        width: 500px;
        padding-top: 290px;
        padding-left: 10vw;
    }


    .tayo-mmr_infoStage{
        width: 500px;
        height: 50px;
        font-size: 30px;
        margin-top: 15px;
    }
    .tayo-mmr_infoStack_comp{
        left: calc(50vw - 250px);
        padding-top: 5px;
    }   

    .tayo-mmr_rec-round{
        top: 150px;
        left: calc(2vw + 10px);
    }

    .tayo-mmr_block_information{
        height: 100vh;
    }
    
    .tayo-mmr_info_visionOfAll{
        position: relative;
        top: 50px;
        left: 4vw;
        width: 80%;
        height: 40vh;
        padding: 20px;
    }

    .stroke_borderleft.zvukWorkers{
        top: 370px; 
        left: 5vw;
        height: 80px;
    }

    .tayo-mmr_zvukWorkersAreVerySexy{
        font-size: 18px;
        width: 250px;
        top: 350px; 
        left:8vw;
    }
}

@media screen and (max-width:500px) {
    .tayo-mmr_switcherBlock{
        padding-top: 50px;
        padding-left: 65vw;
    }
    .tayo-mmr_switcherButton{
        position: relative;
        width: 100px;
        height: 30px;
        border-radius: 30px;
    }
    
    .tayo-mmr_switcherFigure{
        top:3.5px;
        left: 5px;
        width: 40px;
        height: 25px;
    }
    
    .tayo-mmr_switcherLogoPro{
        top: -17.5px;
        left:52.5px;
        font-size: 20px;
    }

    .tayo-mmr_head-block-jelly {
        width: 100%;
        height: 50vh;
    }

    .tayo-mmr_headline1 {
        padding-top: 140px;
        padding-left: 20px;
        width:400px;
    }

    .tayo-mmr_headline1_p-block1 {
        text-transform: uppercase;
        font-weight: 900;
        font-size: 40px;
    }

    .tayo-mmr_floating-textBlock {
        width: 250px;
        padding-top: 270px;
        padding-left: 23px;
    }

    .tayo-mmr_headline1_p-block2 {
        text-transform: uppercase;
        font-weight: 200;
        font-size: 15px;
        rotate: 0deg;
        font-family: 'Montserrat';
    }

    .tayo-mmr_headline1-melon {
        width: 120px;
        padding-top: 5px;
        padding-left: 5px;
    }
}