@import url(
    'https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Tilt+Neon&display=swap'
);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* variables */

body{
    --padding_top_headline1:100px;
    --padding_left_headline1:calc(20vw + 100px);
}


/* animations  */
@keyframes tracking-in-expand{0%{letter-spacing:-.2em;opacity:0}40%{opacity:.6}100%{opacity:1}}
/* @keyframes flareAnimation {
    0% {
        margin-left: 0;
    }
    99% {
        margin-left: calc(90% - 35px);
    }
    100% {
        margin-left: 0;
    }
} */

@keyframes background_vision_of_all {
    0% {
        background-position: 10%;
        opacity: 1;
    }
    25% {
        background-position: 10%;
        opacity: 1;
    }
    30% {
        background-position: 50% 30%;
        opacity: 1;
    }
    65%{
        background-position: 50% 30%;
        opacity: 1;
    }
    70% {
        background-position: 90% 40%;
        opacity: 1;
    }
    79%{
        opacity: 1;
    }
    80%{
        opacity: 0;
    }
    81%{
        opacity: 1;
    }
    87%{
        opacity: 1;
    }
    88%{
        opacity: 0;
    }
    89%{
        opacity: 1;
    }
    90%{
        opacity: 0;
    }
    91%{
        opacity: 1;
    }
    95%{
        background-position: 90% 0%;
        opacity: 1;
    }
    100% {
        background-position: 10%;
        opacity: 1;
    }
}   

@keyframes blicking {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}